<div class="card border-right-0 mt-2 border-left-0 border-bottom-0 text-center" >
  <ul class="list-inline mt-2">
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Guidelines</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>FAQ</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Support</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>API</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Security</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Lists</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Bookmarklet</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Legal</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Apply to YC</small></a>
    </li>
    <li class="list-inline-item">
      <a class="text-dark text-decoration-none" href="#"><small>Contact</small></a>
    </li>
  </ul>
</div>
