<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <app-header></app-header>
      <news-list-item [newsItem]="news" [newsIndex]="newsIndex" *ngFor="let news of foundNews | async ; let newsIndex = index"></news-list-item>
      <app-footer></app-footer>
    </div>
    <div class="col-1"></div>
  </div>
</div>
